*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#2563eb;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:900px;
display:flex;
background:white;
border-radius:20px;
overflow:hidden;
box-shadow:0 20px 40px rgba(0,0,0,.2);
}

.left{
flex:1;
background:#1d4ed8;
color:white;
padding:60px;
display:flex;
flex-direction:column;
justify-content:center;
}

.left h1{
font-size:40px;
margin-bottom:20px;
}

.left p{
line-height:1.8;
}

.right{
flex:1;
padding:40px;
}

form{
display:flex;
flex-direction:column;
}

h2{
margin-bottom:20px;
}

input,select{
padding:14px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:8px;
outline:none;
font-size:15px;
}

input:focus,
select:focus{
border-color:#2563eb;
}

button{
padding:15px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
transition:.3s;
}

button:hover{
background:#1d4ed8;
}

p{
margin-top:20px;
text-align:center;
}

a{
text-decoration:none;
color:#2563eb;
font-weight:600;
}

@media(max-width:768px){

.container{
flex-direction:column;
width:95%;
}

.left{
padding:30px;
text-align:center;
}

}